.myProfile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.my-comp {
  width: 80%;
}

.my-comp ul {
  display: block;
  border: 1px solid #aaa;
}

.my-comp ul li {
  list-style-type: none;
  padding: 20px 20px;
  border-bottom: 1px solid #aaa;
}
