.rockets-section {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 24px;
}

.rocket-image img {
    width: 200px;
    height: 160px;
}

.rocket-button {
    padding: 8px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}