.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
  width: 100%;
  height: 80px;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  margin-bottom: 3%;
  background-color: #fff;
}

.nav-group {
  display: flex;
  list-style-type: none;
  gap: 44px;
  margin-right: 4%;
}

.nav-item {
  font-size: 18px;
  color: #45a3ff;
  text-decoration: none;
}

.nav-link {
  color: #000;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}

.nav-item:focus {
  color: #000;
  text-decoration: underline;
}
