.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
  width: 100%;
  height: 8rem;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  margin-bottom: 3%;
}

.nav-group {
  display: flex;
  list-style-type: none;
  gap: 44px;
  margin-right: 4%;
}

.nav-item {
  font-size: 1.5rem;
  color: #45a3ff;
  text-decoration: none;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin-left: 4%;
}

.rocket-logo {
  width: 6.2rem;
  height: auto;
}

.text-logo {
  font-size: 2rem;
}

.nav-item:focus {
  color: #000;
  text-decoration: underline;
}
